*{
    margin: 0px;
    padding: 0px;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    padding: 20px;
    align-items: center;
}
.menus ul{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 17px;
}
